@import "tailwindcss";


@layer base {
  @font-face {
    font-family: "Remachine Script";
    src: url("/fonts/remachine_script.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@theme {
  --color-peach-50: #fff9ed;
  --color-peach-100: #fff3db;
  --color-peach-200: #ffe7b7;
  --color-peach-300: #ffdb94;
  --color-peach-400: #ffcf70;
  --color-peach-500: #ffc34c;
  --color-peach-600: #cc9c3d;
  --color-peach-700: #99752e;
  --color-peach-800: #664e1e;
  --color-peach-900: #33270f;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff9ed;
}

main {
  flex: 1;
}
