---
import BaseLayout from "../layouts/base_layout.astro";
const pageTitle = "A propos";
const identity = {
  firstName: "Celestin le bg",
  country: "Belgium",
  occupation: "Engineer",
  hobbies: ["Photography", "birdwatching", "baseball"],
};

const happy = true;
const finished = false;

const skills = ["HTML", "CSS", "Python", "C", "C++", "Rust"];
const skillColor = "red";
const skillFontWeight = "bold";
const skillTextCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style is:global define:vars={{ skillColor, skillFontWeight, skillTextCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--skillFontWeight);
      text-transform: var(--skillTextCase);
    }
  </style>
  <h2>and about our journey</h2>
  <p>
    I am currently working on making a blog site for showing the journey that
    flo and me are doing<br />I would like to show my parents how its going
  </p>
  <p>Big bisous</p>

  <p>
    I am trying to write some facts about me using the html and astro components
  </p>
  <ul>
    <li>My name is : {identity.firstName}</li>
    <li>
      I live in {identity.country} but I will be travelling to Canada 1 year
    </li>
    <li>
      My different skills are :
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
    </li>
  </ul>
  {happy && <p> I am happy to be learning Astro</p>}
  {finished && <p> I have finished this tutorial!</p>}
</BaseLayout>
