---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
		<h1>About page</h1>
    <h2>and about our journey</h2>
    <p>I am currently working on making a blog site for showing the journey that flo and me are doing<br>I would like to show my parents how its going</p>
    <p>Big bisous</p>
	</body>
</html> 
