---
import BaseLayout from "../layouts/base_layout.astro";
import Background from "../components/background.astro";
---

<BaseLayout pageTitle="Home">
  <h2>Le Echte Canda</h2>
  <Background image="/echte_canada_background.png" />
</BaseLayout>
