---

---

<div class="nav-links">
  <!-- TODO: Add the Home page -->
  <a href="/">Home</a>
  <!-- TODO: Add the blog page -->
  <a href="/blog/">Blog</a>
  <!-- TODO: Add the about page -->
  <a href="/about/">About</a>
  <!-- TODO: Add the gallery page -->
  <a href="/gallery/">Gallery</a>
  <!-- TODO: Add the contact page -->
  <a href="/contact/">Gallery</a>
</div>
