---
interface Props {
  icon_path: string;
  alt_description: string;
  href: string;
}
const { icon_path, alt_description, href } = Astro.props;
---

<a href={href} class="h-8 w-8">
  <img class="w-full h-full" src={icon_path} alt={alt_description} />
</a>

<style>
  a {
  }
</style>
